/*  Timeline  */
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
  font-size: 17px;
}
.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 1px;
  margin-left: -1.5px;
  background-color: #f1f1f1;
}
.timeline > li {
  position: relative;
  margin-bottom: 50px;
  min-height: 50px;
}
.timeline > li:before {
  content: " ";
  display: table;
}
.timeline > li:after {
  content: " ";
  display: table;
  clear: both;
}
.timeline > li .timeline-panel {
  float: right;
  position: relative;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 0;
  width: 14px;
  height: 14px;
  margin-left: 0;
  border: 1px solid #f1f1f1;
  /*border-radius: 100%;*/
  text-align: center;
  color: darken($primary-color, 5);
  background-color: darken($primary-color, 5);
}
.timeline > li .timeline-image h5 {
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading p {
  line-height: 14px;
  margin-top: 0;
}
.timeline .timeline-heading p.subheading {
  text-transform: none;
}
.timeline .timeline-body > p, .timeline .timeline-body > ul {
  line-height: 5px;
  margin-bottom: 0;
}
@media (min-width: 300px) and (max-width: 400px) {
  .timeline > li .timeline-image {
      left: 12%;
      width: 14px;
      height: 14px;
      margin-left: -8px;
  }
}
@media (min-width: 360px) and (max-width: 450px){
  .timeline > li .timeline-image {
      left: 20.1%;
  }
}
@media (min-width: 400px) and (max-width: 470px){
  .timeline > li .timeline-image {
      left: 12%;
      width: 14px;
      height: 14px;
      margin-left: -8px;
  }
}
@media (min-width: 600px) and (max-width: 740px) {
  .timeline > li .timeline-image {
      left: 8%;
      width: 14px;
      height: 14px;
      margin-left: -8px;
  }
}
@media (min-width: 768px) {
  .timeline:before {
      left: 50%;
  }
  .timeline > li {
      margin-bottom: 0px;
      min-height: 30px;
  }
  .timeline > li .timeline-panel {
      float: left;
      width: 47%;
      padding: 0 20px 20px;
      text-align: right;
  }
  .timeline > li .timeline-image {
      left: 50%;
      width: 14px;
      height: 14px;
      margin-left: -8px;
  }
  .timeline > li .timeline-image h5 {
      margin-top: 16px;
      line-height: 11px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 40px;
      text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
      min-height: 50px;
  }
  .timeline > li .timeline-panel {
      padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
      width: 14px;
      height: 14px;
      margin-left: -8px;
  }
  .timeline > li .timeline-image h5 {
      margin-top: 30px;
      line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
      min-height: 50px;
  }
  .timeline > li .timeline-panel {
      padding: 0 20px 20px 0px;
  }
  .timeline > li .timeline-image {
      width: 14px;
      height: 14px;
      margin-left: -8px;
  }
  .timeline > li .timeline-image h5 {
      margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 80px -11px 0px;
  }
}
