/*  Timeline  */
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
  font-size: 17px;
}
.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  margin-left: -1.5px;
  background-color: #f1f1f1;
}
.timeline > li {
  position: relative;
  min-height: 50px;
}
.timeline > li:before {
  content: " ";
  display: table;
}
.timeline > li:after {
  content: " ";
  display: table;
  clear: both;
}
.timeline > li .timeline-panel {
  float: left;
  position: relative;
  width: 47%;
  padding: 0 20px 20px 0;
  text-align: right;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 49.25%;
  width: 14px;
  height: 14px;
  margin-left: 0;
  border: 1px solid #f1f1f1;
  /*border-radius: 100%;*/
  text-align: center;
  color: darken($primary-color, 5);
  background-color: darken($primary-color, 5);
  @include desktop-xl {
    left: 49.3%;
  }
  @include desktop-lg {
    left: 49%;
  }
  @include desktop {
    left: 49%;
  }
  @include tablet {
    left: 48.5%;
  }
  @include mobile {
    left: 48%;
  }
  @include mobile-xs {
    left: 47.5%;
  }
}
.timeline > li .timeline-image h5 {
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 20px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading p {
  line-height: 14px;
  margin-top: 0;
}
.timeline .timeline-heading p.subheading {
  text-transform: none;
}
.timeline .timeline-body > p, .timeline .timeline-body > ul {
  line-height: 18px;
  margin-bottom: 0;
}

