{{ define "main" }}

<section id="post-block" class="post-block section pb-0">
  <div class="container">
    <div class="row no-gutters justify-content-center">
      <div class="col-lg-12">
        <!-- image path -->
        {{ $imagePath:= .Params.image }}
        <!-- image CDN -->
        {{ if (and ($imagePath) (hasPrefix $imagePath "http")) }}
        <img loading="lazy" decoding="async" src="{{ $imagePath | safeURL }}" alt="{{ .Title }}" class="img-fluid">
        {{ else }}
        <!-- /image cdn -->

        <!-- image processing for multiple device -->
        {{ if fileExists "assets/{{$imagePath}}" }}
        {{ $image:= resources.Get $imagePath }}
        {{ $imageFallback:= $image.Resize "1110x" }}
        {{ $imageXL:= $image.Resize "1110x webp" }}
        {{ $imageLG:= $image.Resize "650x webp" }}
        {{ $imageMD:= $image.Resize "600x webp" }}
        {{ $imageSM:= $image.Resize "545x webp" }}
        <picture>
          <source srcset="{{ $imageSM.RelPermalink }}" media="(max-width: 575px)">
          <source srcset="{{ $imageMD.RelPermalink }}" media="(max-width: 767px)">
          <source srcset="{{ $imageLG.RelPermalink }}" media="(max-width: 991px)">
          <source srcset="{{ $imageXL.RelPermalink }}">
          <img loading="lazy" decoding="async" class="img-fluid w-100" src="{{$imageFallback.RelPermalink}}"
            alt="post image" width="{{$image.Width}}" height="{{$image.Height}}">
        </picture>
        {{ end }}
        <!-- /image processing for multiple device -->
        {{ end }}
        <!-- /single image -->
      </div>
      <div class="col-lg-9 mt-5">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</section>

{{ end }}
